<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csacontestdemohybriddemo01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b9628cb8-5ba6-495b-a070-ad9e05f83c1d/resourcegroups/rg-hybridapp-csacont/providers/Microsoft.Web/sites/csacontestdemohybriddemo01</ResourceId>
    <UserName>$csacontestdemohybriddemo01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csacontestdemohybriddemo01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>